# Site Settings
locale                   : "en-US"
title                    : "Applied Antifragility Group"
title_separator          : "-"
subtitle                 : ""
name                     : "Applied Antifragility Group"
description              : "Research group focused on antifragility in complex systems"
url                      : "https://antifragility-science.github.io"
baseurl                  : ""
repository               : "antifragility-science/antifragility-science.github.io"
teaser                   : # path of fallback teaser image
logo                     : "/images/logo.jpg"
masthead_title           : # overrides the website title displayed in the masthead
breadcrumbs              : false
words_per_minute         : 200

# Comments (optional)
comments:
  provider               : false

# Search (optional)
search                   : false
search_full_content      : false
search_provider          : # lunr, algolia, google

# SEO Related
google_site_verification :
bing_site_verification   :
naver_site_verification  :
yandex_site_verification :
baidu_site_verification  :

# Analytics (optional)
analytics:
  provider               : false

# Site Author
author:
  name             : "Applied Antifragility Group"
  avatar           : "/assets/images/logo.png"
  bio              : "Interdisciplinary research group exploring antifragility"
  location         : "Germany"
  email            :
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      # url: "mailto:your.email@example.com"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://antifragility.science"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/antifragility-science"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/antifragility-science"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: "Europe/Berlin"

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-redirect-from

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Collections
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: true
      comments: false
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: false
      share: true
      comments: false
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: single
      author_profile: false
      share: true

# Theme Settings
#theme: minimal-mistakes-jekyll
#minimal_mistakes_skin: "air" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache